body{
    background-image: url('vecteezy_abstract-gradient-pastel-blue-and-purple-background-neon_8617161-1.jpg');
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
}

nav{
    background-color: whitesmoke;
    display: block;
    height: 50px;
    line-height: 50px;
}

nav li{
    float: left;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li a {
    display: inline-block;
    text-align: center;
    padding: 10px 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}

.main_section{
    text-align: center;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20%;
    margin-right:20%;
    padding-left:15px;
    padding-bottom: 10px;
    padding-top:10px;
    border-radius: 25px;
    top:350px;
}

.main_section a{
    color: black;
}

.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}